<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430494367399-3c1197av9psnev3ibsbdp9c5msaa7kd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430494367399-3c1197av9psnev3ibsbdp9c5msaa7kd2</string>
	<key>API_KEY</key>
	<string>AIzaSyC846UNEkF5vSq9uGW8cuBi9WmBw0oixK8</string>
	<key>GCM_SENDER_ID</key>
	<string>430494367399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.troughdriver</string>
	<key>PROJECT_ID</key>
	<string>troughproject-d315e</string>
	<key>STORAGE_BUCKET</key>
	<string>troughproject-d315e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430494367399:ios:486ae500145cb6a08c6582</string>
</dict>
</plist>